body {
    background-color: #e8ded2;
    color: #5eaaa8;
    text-align: center;
}

.content {
    padding: 100px 0;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 7rem;
}

.left {
    display: inline-block;
    margin-right: 15px;
}

.right {
    display: inline-block;
    margin-left: 15px;
}

.player {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 3rem;
}

@media only screen and  (max-width: 761px) {

    .left {
        margin-right: 0;
    }
    .right {
        margin-left: 0;
    }

}